:root{ /*variáveis de css*/
    --black: #090809;
    --primary: #e36a08;
    --secondary: #e36a08F;
    --light: #e36a08;
    --other1: #e36a08;
    --other: #c4c2c1;
    --bg-color: #f9f4f4;
}
html::-webkit-scrollbar{ /* largura*/
    width: 15px;
}
html::-webkit-scrollbar-thumb{ /*barra*/
    border-radius: 10px;
    background: var(--primary);
}
html::-webkit-scrollbar-track{ /*fundo*/
    background: var(--bg-color);
}
body{
    height: 100vh;
    background-color: var(--other);
}
nav{
    background-color: var(--other1);
}
.main-format{
    background-color: var(--bg-color);
    height: 200vh;
    border-radius: 10px;
}
.color-text{
    color: var(--black);
}
.bg-nav{
    background-color: rgba(255, 255, 255,0.5);
    border: none;
}
*{
    margin: 0;
}
body{
    background-color: rgba(216, 92, 4, 0.906);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.direita{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.esquerda{
    margin-top: 5%;
    width: 36%;
    margin-right: 2%;
    margin-left: 2%;
}
.item{
    background-color: white;
    margin: 2%;
    padding: 2%;
    min-width: 150px;
    max-width: 250px;
    text-align: center;
   
}
.item:hover{
    scale: 1.1;
    cursor: pointer;
    opacity:.4;
    transform:scale(0.9);
    background-color: #e36a08;
}
    

h2{
    font-size: 3rem;
    margin-bottom: 0;
}
h4{
    font-size: 2rem;
    margin: 0;
}

h3{
 text-align: row;  



}
.centralizado{
    color: #e36a08;  
    text-align:center;
    
  }

